.App {
  margin: 1em 0 1em 114px;
}

.App-logo {
  height: 80px;
  animation: App-logo-spin infinite 20s paused linear;
  cursor: pointer;
}

.App-logo--Animated {
  animation-play-state: running;
}

.App-header {
  position: absolute;
  height: 80px;
  width: 114px;
  top: 1em;
  left: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Cells {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0;
  line-height: 0;
}

.Cell {
  border: 1px solid #dedede;
  font-size: 0px;
  line-height: 0;
}

.Cell > span {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  /*transition: transform 0.1s, opacity 0.1s;*/
}

.Cell--Live > span {
  background: #333;
}

.Cell--Dead > span {
  /*transform: scale(0);*/
  /*opacity: 0;*/
}
